a {
    color:#8c8c8c;
    text-decoration:none
}
a:hover,a:focus {
    color:#ff4a00;
    text-decoration:none
}
.clearfix:before, .clearfix:after {
    display: table;
    content: "";
    line-height: 0
}

.clearfix:after {
    clear: both
}

.btn {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin-bottom: 0;
    font-size: 14px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #ff4a00;
    color: #ff4a00;
    padding: 0;
    width: 148px
}

.btn:hover, .btn:focus {
    color: #fff;
    outline: 0;
    text-decoration: none;
    background-color: #ff4a00
}

.btn.active, .btn:active {
    outline: 0;
    background-color: #ff4a00;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15)
}

.btn-primary {
    background-color: #ff4646;
    border-color: #ff4a00;
    color: #fff
}

.btn-lineDakeLight:hover, .btn-lineDakeLight:focus, .btn-lineDakeLight.active, .btn-lineDakeLight:active {
    color: #333;
    border-color: #dfdfdf;
    background-color: #dfdfdf
}

.container {
    width: 1151px
}

.xm-address-list {
    border: solid #dfdfdf 1px;
    height: 180px;
    margin-left: 80px;
}

.xm-address-list .item {
    float: left;
    width: 264px;
    height: 160px;
    padding: 15px 18px;
    position: relative;
    background: #fafafa;
}

.xm-address-list .item dt {
    height: 30px;
    line-height: 25px;
    color: #333
}

.xm-address-list .item dt span {
    float: right
}

.xm-address-list .item dt .tag {
    height: 18px;
    line-height: 20px;
    padding: 0 10px;
    font-size: 12px;
    background: #dfdfdf
}

.xm-address-list .item dd {
    margin: 0;
    line-height: 1.6;
    color: #6d6d6d
}

.checkout-goods-list {
    height: auto;
    margin-bottom: 0px;
    overflow: hidden
}

.checkout-goods-list .col-2, .checkout-goods-list .col-3 {
    text-align: center
}

.checkout-goods-list .col-2 {
    width: 128px;
}

.checkout-goods-list .col-3 {
    width: 80px
}

.checkout-goods-list .col-4 {
    width: 128px;
    text-align: center;
}

.checkout-goods-list dt {
    padding: 9px 0;
    font-size: 12px;
    line-height: 1;
    *line-height: normal;
    background: #fafafa;
    color: #8c8c8c
}

.checkout-goods-list dt .col {
    float: left
}

.checkout-goods-list dt .col-1 {
    width: 800px;
    padding-left: 15px
}

.checkout-goods-list .item {
    display: table;
    padding: 10px 0;
    color: #333
}

.checkout-box .xm-box .box-hd .title {
    margin: 0;
    line-height: 44px;
}

.checkout-goods-list .item .col {
    display: table-cell;
    vertical-align: middle;
    *float: left;
    *margin-top: 10px
}

.checkout-goods-list .item .col-1 {
    width: 884px;
    padding-left: 20px;
    *margin-top: 0
}

.checkout-goods-list .item .col-1 .g-info, .checkout-goods-list .item .col-1 .g-pic {
    display: table-cell;
    vertical-align: middle;
    *float: left
}

.checkout-goods-list .item .col-1 .g-pic {
    width: 40px;
    height: 40px;
    padding-right: 10px
}

.checkout-count {
    position: relative;
    min-height: 160px;
    _height: 160px;
    border-top: 1px solid #dfdfdf;
    border-radius: 0 0 5px 5px
}

.xm-add-buy .item {
    height: 16px;
    line-height: 16px;
    padding: 7px 10px;
    margin-bottom: 10px;
    position: relative;
    background: #f3f3f3;
    color: #333;
    font-size: 12px;
    cursor: pointer;
    zoom: 1
}

.checkout-count-extend {
    float: left;
    position: relative;

}

.checkout-count-extend h3 {
    font-size: 18px;
    font-weight: 400;
    color: #333;
}

.checkout-price {
    float: right;
    text-align: right;
    color: #333;
    padding-right: 60px;
    padding-top: 20px;
}

.checkout-price ul {
    margin-bottom: 20px
}

.checkout-price li {
    line-height: 2;
    text-align: right
}

.checkout-price li span {
    display: inline-block;
    min-width: 130px;
    _width: 150px;
    color: #ff4646
}

.checkout-price .checkout-total {
    *line-height: 1
}

.checkout-price .checkout-total span {
    display: inline-block;
    min-width: 130px;
    _width: 150px;
    color: #ff4646
}

.checkout-price .checkout-total span strong {
    margin-right: 5px;
    font-size: 30px;
    font-weight: normal;
    white-space: nowrap
}

.checkout-confirm {
    padding-top: 15px;
    padding-right: 30px;
    background: #fafafa;
    text-align: right;
    color: #333;
    padding-bottom: 10px;
}

.checkout-confirm .btn-back-cart {
    border-color: #dfdfdf
}

.checkout-confirm .btn-primary {
    margin-left: 5px
}